@page
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet">
    <script src="scripts/notes-api.js"></script>
    <script src="scripts/sanitizer.js"></script>
    <script src="scripts/views/index.js" defer></script>
    <title>Notes App</title>
</head>
<body class="main-content">
    <header>
        <div class="account-menu-container">
            <h1>ToDo's</h1>
            <ul class="account-menu">
            </ul>
        </div>
    </header>
    <nav>
        <ul class="todos-nav" id="left-nav">
        </ul>
    </nav>
    <main>
        <aside class="button-overlay">
            <button id="create-button" class="create-button"><div>+</div></button>
        </aside>
        <article id="details-view" class="view">
        </article>
        <article id="edit-view" class="inactive-view">
        </article>
    </main>
    <footer>API description can be found under <a href="/api">/api</a>. - Copyright &copy; 2023</footer>
</body>
</html>