* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --light-theme-text: black;
    --light-theme-background-color: white;
    --dark-theme-text: white;
    --dark-theme-background-color: darkgray;

    --body-text-size: 16px;
    --heading-1-text-size: 2rem;

    --primary-color: blue;
    --secondary-color: lightblue;
    --nav-background-color: lightgray;
}

body {
    background-color: var(--light-theme-background-color);
    color: var(--light-theme-text);
    font-size: var(--body-text-size);
    font-family: 'Roboto', sans-serif;
}

.main-content {
    display: grid;
    height: 100vh;
    grid-template-columns: 200px minmax(150px, auto);
    grid-template-rows: 150px 1fr 90px;
}

.main-content > header {
    background-color: var(--dark-theme-background-color);
    color: var(--dark-theme-text);
    grid-column: 1 / 3;
    grid-row:    1 / 2;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-content > nav {
    background-color: var(--nav-background-color);
    grid-column: 1 / 2;
    grid-row:    2 / 3;
}

.main-content > main {
    grid-column: 2 / 3;
    grid-row:    2 / 3;
}

.main-content > footer {
   background-color: darkgray;
   color: var(--dark-theme-text);
   grid-column: 1 / 3;
   grid-row:    3 / 4;

   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
}

h1 {
    font-size: var(--heading-1-text-size);
}

a, a:visited {
    color: var(--primary-color);
    text-decoration: underline;
}

a:hover {
    color: var(--light-theme-text);
}

.header-menu-container {
    margin-left: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.header-menu > li {
    margin-right: 2rem;
}

.pizza-nav {
    margin-top: 3rem;
    margin-left: 1.5rem;
    margin-right: 0.5rem;

    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.view {
    display: flex;
    flex-direction: column;
    margin: 2rem;
}


.view .pizza-entry {
    margin-top: 2rem;
}

.view .pizza-entry > div {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}