@page

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BMI Calculator</title>
    <link rel="stylesheet" href="~/styles/index.css">
</head>
<body>
    <h1>BMI Calculator</h1>
    @{
        string height = Request.Query["height"];
        string weight = Request.Query["weight"];
        double heightAsDouble;
        double weightAsDouble;

        try // validate height (optional)
        {
            heightAsDouble = Convert.ToDouble(height);

            if (heightAsDouble < 0.3 || heightAsDouble > 2.5)
            {
                heightAsDouble = 0;
            }
        }
        catch { heightAsDouble = 0; }

        try // validate weight (optional)
        {
            weightAsDouble = Convert.ToDouble(weight);

            if (weightAsDouble < 3 || weightAsDouble > 150)
            {
                weightAsDouble = 0;
            }
        }
        catch { weightAsDouble = 0; }


        if (heightAsDouble != 0 && weightAsDouble != 0)
        {
            double bmi = weightAsDouble / (heightAsDouble * heightAsDouble);
            <h2>Berechneter BMI:</h2>
            <div>@bmi</div>
            <div><a href="./bmi">Neue Berechnung</a></div>
        }
        else
        {
            <form action="~/bmi">
                <div>
                    <label>
                        Grösse [m]:
                        <input type="number" name="height" min="0.30" max="2.50" value="@height" step="0.001">
                        @if (height != null && heightAsDouble == 0)
                        {
                            <span class="form-error">Ungültige Grösse</span>
                        }
                    </label>
                </div>
                <div>
                    <label>
                        Gewicht [kg]:
                        <input type="number" name="weight" min="3" max="150" value="@weight" step="1">
                        @if (weight != null && weightAsDouble == 0)
                        {
                            <span class="form-error">Ungültiges Gewicht</span>
                        }
                    </label>
                </div>
                <button>Calculate</button>
            </form>
        }
    }
</body>
</html>
