@page
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet">
    <script src="~/scripts/index.js" defer></script>
    <title>Lösung - Counter App</title>
</head>
<body class="main-content">
    <header>
        <div class="header-menu-container">
            <h1>Counter App</h1>
        </div>
    </header>
    <nav></nav>
    <main>
        <article class="view">
            <h1>Counter</h1>
            <div id="details-view">
            </div>
            <input type="button" id="count-up" value="Up">
        </article>
    </main>
    <footer>Counter Application - Copyright &copy; 2023</footer>
</body>
</html>
