@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Vorlage - Server Health App</title>
</head>
<body>
    <header><h1>Vorlage - Server Health</h1></header>
    <main>
        <p>The memory API is described as <a href="~/api">subsite in /api</a>.</p>
        <hr />
        <h2>Server Info</h2>
        <table border="0">
            <tbody>
            </tbody>
        </table>
        <hr />
        <h2>Memory Stats</h2>
        <table border="1" cellpadding="5">
            <thead>
                <tr>
                    <th scope="col">Time</th>
                    <th scope="col">Memory total</th>
                    <th scope="col">Memory used</th>
                    <th scope="col">Memory free</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </main>
</body>
</html>