@page

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="~/styles/index.css">
</head>
<body>
    <form action="~/loopback">
        <div>
            <label>First Name:
                <input type="text" name="first-name">
            </label>
        </div>
        <div>
            <label>Last Name: 
                <input type="text" name="name">
            </label>
        </div>
        <button>Send</button>
    </form>
</body>
</html>
